<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] \(%logger{0}:%line\) - %msg - [%.-30thread] %n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="Console" />
    </root>
</configuration>